  button{
      margin: 150px;
      background-color: salmon;
      border: 2px solid purple;
      color: white;
      border-radius: 6px;
      padding: 10;

  }



  button:hover{
      background-color: yellow;   
  }


  button:focus{
      background-color: teal;
  }

  button:disabled{
      cursor: not-allowed;

  }